Source: libslp-location
Section: libs
Priority: extra
Maintainer: Youngae Kang <youngae.kang@samsung.com>, Yunhan Kim <yhan.kim@samsung.com>, Genie kim <daejins.kim@samsung.com>, Minjune Kim <sena06.kim@samsung.com>
Uploaders: Genie Kim <daejins.kim@samsung.com>
Build-Depends: debhelper (>= 5), libglib2.0-dev, libdbus-glib-1-dev, dlog-dev, libvconf-dev, libvconf-keys-dev, libjson-glib-dev, libgconf-dbus-dev
Standards-Version: 3.7.2
Homepage: N/A

Package: libslp-location
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libglib2.0-0, libdlog-0, libvconf-0
Description: Location Based Service (Shared Object)
 Location Based Service Libraries

Package: libslp-location-dev
Section: libdevel
Architecture: any
XB-Generate-Docs: yes
XB-Public-Package: yes
Depends: ${shlibs:Depends}, ${misc:Depends}, libslp-location (= ${binary:Version}), libglib2.0-dev, dlog-dev, libvconf-dev
Description: Location Based Service (Development files)
 Location Based Service Development Package

Package: libslp-location-dbg
Section: debug
Architecture: any
Depends: ${misc:Depends}, libslp-location (= ${binary:Version})
Description: Location Based Service (Unstripped Object)
 Location Based Service Library Debug Package
